.footer-bg {
	display: none;
	background-color: $purple;
	padding: 20px 0 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	@media screen and (max-width: 1024px){
		display: block;
		box-shadow: $box-shadow5;
	}
	& .header-list {
		@media screen and (max-width: 1024px){
			display: flex;
			justify-content: space-evenly;
		}
	}
}