.footer-bg {
	padding: 65px 0 70px;
	background: $purple3;
	@media screen and (max-width: 425px) {
		padding: 50px 0 20px;
	}
}
.footer-grid {
	display: grid;
	grid-template-areas:
			"logo nav1 nav2 mail"
			"copyright nav1 nav2 mail";
	grid-template-columns: 23% 23% 23% 23%;
	grid-template-rows: 50%;
	grid-gap: 2.66667%;
	@media screen and (max-width: 580px) {
		grid-template-areas:
			"logo nav2"
			"nav1 mail"
			"copyright copyright";
		grid-template-columns: 48% 48%;
		grid-template-rows: 50%;
		grid-gap: 4%;
	}
	@media screen and (max-width: 450px) {
		grid-template-areas:
			"logo logo"
			"nav1 nav2"
			"mail mail"
			"copyright copyright";
		grid-template-columns: 41% 49%;
		grid-template-rows: auto;
		grid-gap: 20px 10%;
	}
}
.footer-logo {
	grid-area: logo;
	display: flex;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
	@media screen and (max-width: 580px) {
		margin-left: 30px;
	}
	@media screen and (max-width: 450px) {
		margin-left: 0;
		flex-direction: row;
	}
	& .list-soc {
		display: flex;
		grid-gap: 15px;
		margin-left: 80px;
		@media screen and (max-width: 1024px) {
			margin-top: 20px;
			margin-left: 0;
		}
		@media screen and (max-width: 450px) {
			margin-top: 0;
			margin-left: 88px;
		}
		&-item {
			& a i:before {
				font-size: 32px;
			}
		}
	}
}
.footer-copyright {
	grid-area: copyright;
	& p {
		@media screen and (max-width: 580px) {
			text-align: center;
		}
	}
}
.footer-nav1 {
	grid-area: nav1;
	@media screen and (max-width: 580px) {
		margin-left: 30px;
	}
	@media screen and (max-width: 450px) {
		margin-left: 0;
	}
}
.footer-nav2 {
	grid-area: nav2;
}
.list-nav {
	&-item {
		margin-bottom: 20px;
		@media screen and (max-width: 425px) {
			margin-bottom: 10px;
		}
	}
	&:last-child  {
		margin-bottom: 0;
	}
}
.list-nav .list-nav-item:last-child{
	margin-bottom: 0;
}
.footer-mail {
	grid-area: mail;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	//@media screen and (max-width: 580px) {
	//	align-items: flex-start;
	//}
	//@media screen and (max-width: 450px) {
	//	align-items: flex-start;
	//}
	& form {
		margin-bottom: 20px;
		border-bottom: 1px solid $grey;
		@media screen and (max-width: 425px) {
			width: 100%;
		}
		& label {
			display: flex;
			align-items: center;
			& .i-f {
				border-bottom: none;
			}
			& .reset-btn i:before {
				color: $white;
			}
		}
	}
	& p {
		margin-bottom: 14px;
		@media screen and (max-width: 425px) {
			margin-bottom: 20px;
		}
	}
	&  p:last-child {
		margin-bottom: 0;
	}
}