
.popUp-message-manager {
	display: none;
	position: fixed;
	z-index: 110;
	top: calc(50% - 350px);
	left: calc(50% - 250px);
	width: 500px;
	height: 700px;
	padding: 50px;
	background-color: $white;
	@media screen and (max-width: 580px) {
		width: 100%;
		height: 100%;
		z-index: 1000;
		top: calc(50% - 50%);
		left: calc(50% - 50%);
	}
	&.active {
		display: block;
	}
}
.popUp-close {
	position: relative;
	& .reset-btn {
		position: absolute;
		top: -40px;
		right: -40px;
		& i:before {
			background-size: cover;
			
		}
		&:hover i:before {
			transform: scale(1.1);
		}
	}
}
.popUp-message-form {
	display: flex;
	flex-direction: column;
	& h2 {
		margin-bottom: 10px;
		text-transform: capitalize;
	}
	& p {
		margin-bottom: 10px;
	}
	& label {
		margin:20px 0 8px;
	}
	& .select2-container--my .select2-selection--single {
		border-color: $grey-lite;
	}
	& textarea {
		margin: 20px 0 45px;
		background: $white;
		width: 100%;
		height: 225px;
		border: 1px solid $grey-lite;
		padding: 10px;
		font-family: $WS-r;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $purple;
		&::placeholder {
			font-family: $WS-r;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: $grey-lite;
		}
		
		&:focus {
			border-color: $purple;
		}
		
		&:active {
			border-color: $purple;
		}
	}
}
