.t-sb {
	font-family: $WS-sb;
	font-weight: 600;
}
.t-m {
	font-family: $WS-m;
	font-weight: 500;
}
.t-r {
	font-family: $WS-r;
	font-weight: 400;
}
.f12-l18 {
	font-size: 12px;
	line-height: 18px;
}
.f14-l16 {
	font-size: 14px;
	line-height: 16px;
}
.f18-l32 {
	font-size: 18px;
	line-height: 32px;
}
.f24-l32 {
	font-size: 24px;
	line-height: 32px;
}
.f36-l42 {
	font-size: 36px;
	line-height: 42px;
	@media screen and (max-width: 580px) {
		font-size: 28px;
		line-height: 36px;
	}
}
.f54-l70 {
	font-size: 54px;
	line-height: 70px;
}
.f80-l88 {
	font-size: 80px;
	line-height: 88px;
}
.t-upper {
	text-transform: uppercase;
}

.title {
	font-family: $A-r;
	font-weight: 400;
	text-transform: uppercase;
	&.f80-l88 {
		@media screen and (max-width: 1440px) {
			font-size: 64px;
			line-height: 74px;
		}
		@media screen and (max-width: 580px) {
			font-size: 40px;
			line-height: 48px;
		}
	}
	&.b span {
		position: relative;
		z-index: 10;
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			bottom: 20px;
			left: 3px;
			width: calc(100% - 4px);
			height: 14px;
			display: inline-block;
			background: $green;
			@media screen and (max-width: 1440px) {
				bottom: 14px;
			}
			@media screen and (max-width: 580px) {
				bottom: 6px;
				width: 100%;
				left: 0;
			}
		}
	}
	&.b2 span {
		&:after {
			bottom: 10px;
		}
	}
	
	&.s {
		display: inline-block;
		position: relative;
		z-index: 10;
		@media screen and (max-width: 580px) {
			font-size: 38px;
			line-height: 44px;
		}
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			bottom: 5px;
			left: 2px;
			width: calc(100% - 4px);
			height: 14px;
			display: inline-block;
			background: $green;
			@media screen and (max-width: 580px) {
				bottom: 0;
			}
		}
	}
}
