.popUp-background1:before {
	content: '';
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: 100;
	background: $purple;
	opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
}
.popUp-message-manager {
	display: none;
	position: fixed;
	z-index: 100;
	top: calc(50% - 350px);
	left: calc(50% - 250px);
	width: 500px;
	height: 700px;
	padding: 50px;
	background-color: $white;
}
.popUp-close {
	position: relative;
	& .reset-btn {
		position: absolute;
		top: -40px;
		right: -40px;
		& i:before {
			background-size: cover;
			
		}
		&:hover i:before {
			transform: scale(1.1);
		}
	}
}
.popUp-message-form {
	display: flex;
	flex-direction: column;
	& h2 {
		margin-bottom: 10px;
	}
	& p {
		margin-bottom: 10px;
	}
	& label {
		margin:20px 0 8px;
	}
	& .select2-container--my .select2-selection--single {
		border-color: $grey-lite;
	}
	& textarea {
		margin: 20px 0 45px;
		background: $white;
		width: 100%;
		height: 225px;
		border: 1px solid $grey-lite;
		padding: 10px;
		font-family: $WS-r;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: $purple;
		&::placeholder {
			font-family: $WS-r;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: $grey-lite;
		}
	}
}
.popUp-background1 {
	display: none;
	&.active {
		display: block;
		& .popUp-message-manager {
			display: block;
		}
	}
}