.btn-group {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	&-w50 {
		grid-gap: 50px;
		@media screen and (max-width: 580px) {
			grid-gap: 10px;
		}
	}
}
/*--- стили кнопок ---*/
.reset-btn {
	background: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
}
.btn {
	width: 100%;
	height: 49px;
	border-radius: 35px;
	background: $purple;
	border: 1px solid $purple;
	font-family: $WS-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	&:disabled {
		opacity: 0.5;
		&:hover {
			background: $purple;
			color: $white;
			border-color: $purple;
		}
		&:active {
			background: $purple;
			color: $white;
		}
	}
	&::first-letter {
		text-transform: uppercase;
	}
	&:hover {
		background: $white;
		color: $purple-hover;
		border-color: $purple-hover;
	}
	&:active {
		background: $white;
		color: $purple;
	}
	&-green {
		background: $green;
		border: 1px solid $green;
		color: $white;
		&:disabled {
			opacity: 0.5;
			background: $green;
			border: 1px solid $green;
			color: $white;
			&:hover {
				background: $green;
				border-color: $green;
				color: $white;
			}
			&:active {
				background: $green;
				border-color: $green;
				color: $white;
			}
		}
		&:hover {
			background: $white;
			color: $green-hover;
			border-color: $green-hover;
		}
		&:active {
			background: $white;
			color: $green;
		}
	}
}
.btn2 {
	width: 116px;
	height: 60px;
	border-radius: 30px;
	background: $white;
	border: 1px solid $purple;
	font-family: $WS-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $purple;
	&::first-letter {
		text-transform: uppercase;
	}
	&:hover {
		background: $purple-hover;
		color: $white;
		border-color: $purple-hover;
	}
	&:active {
		background: $purple;
		color: $white;
	}
	&-green {
		background: $white;
		border: 1px solid $green;
		color:  $green;
		&:disabled {
			opacity: 0.5;
			background: $white;
			border: 1px solid $green;
			color:  $green;
			&:hover {
				background: $white;
				color:  $green;
				border-color: $green;
			}
			&:active {
				background: $green;
				color:  $green;
			}
		}
		&:hover {
			background:  $green-hover;
			color: $white;
			border-color: $green-hover;
		}
		&:active {
			background: $green;
			color: $white;
		}
	}
}
.btn3 {
	width: 144px;
	height: 60px;
	border-radius: 30px;
	background: $white;
	border: 1px solid transparent;
	color: $purple;
	font-family: $WS-m;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	&:disabled {
		opacity: 0.5;
		&:hover {
		
		}
	}
	&::first-letter {
		text-transform: uppercase;
	}
	&:hover {
		color: $purple-hover;
		border-color: $purple-hover;
	}
	&:active {
		color: $purple;
		border-color: $purple;
	}
}


