$white: #fff;
$white2: #F6F4FF;

$grey: #C4C4C4;
$grey-lite: #C0BCD6;

$purple: #573CDA;
$purple-hover: #5634F7;
$purple2: #515994;
$purple3: #2A206A;
$purple4: #AB9DEC;




$green: #1BC082;
$green-hover: #23C89A;

$black: #000;
$black2: #2A206A;
$black3: #515994;


$gradient: linear-gradient(208.1deg, #F6F4FF 7.35%, #E5DDFA 79.61%);
$gradient-two: linear-gradient(93.19deg, #573CDA 10.16%, #3D2B93 97.41%);

$box-shadow: 6px 6px 64px rgba(0, 0, 0, 0.25);
$box-shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow3: 3px 3px 8px rgba(23, 17, 50, 0.25);
$box-shadow4: 3px 0px 6px rgba(10, 12, 80, 0.15);
$box-shadow5: 3px 0px 8px rgba(23, 17, 50, 0.25);

$A-r: "anton-Regular";
$WS-r: "WorkSans-Regular";
$WS-m: "WorkSans-Medium";
$WS-sb: "WorkSans-SemiBold";


/*---цвета ---*/
* {
	box-sizing: border-box;
}

*:after,
*:before {
	transition: all 0.2s linear;
}

textarea,
input,
a,
button {
	transition: all 0.2s linear;
	outline: none;
}

button {
	cursor: pointer;
	text-decoration: none;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

img {
	width: 100%;
	height: auto;
}

textarea {
	resize: none;
}

figure {
	& figcaption {
		display: none;
	}
}

body.lock {
	@media screen and (max-width: 1024px) {
		overflow: hidden;
	}
}

i {
	transition: all 0.2s linear;
}

label {
	position: relative;
}

/*---контейнер сайта ---*/
.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 65px;
	box-sizing: border-box;
	@media screen and (max-width: 768px) {
		padding: 0 15px;
	}
}

/*---контейнер сайта ---*/
.bg-site {
	background-color: $white;
	padding: 102px 0 0;
	box-sizing: border-box;
	@media screen and (max-width: 768px) {
		padding: 60px 0 60px;
	}
}

.box-container {
	background-color: $white2;
	padding-left: 350px;
	@media screen and (max-width: 1024px) {
		padding-left: 0;
	}
}


#tabs2,
#tabs {
	& .nav-tabs {
		display: flex;
		justify-content: space-between;
		& .f18-l32 {
			@media screen and (max-width: 580px) {
				font-size: 12px;
				line-height: 16px;
			}
		}
		& .tab-n,
			.tab-n2 {
			opacity: 0.5;
			border-bottom: 1px solid $purple;
			cursor: pointer;
			&.active {
				opacity: 1;
				border-bottom: 1px solid transparent;
				cursor: auto;
			}
		}
	}
	& .content-t,
	.content-t2 {
		display: none;
		&.active {
			display: block;
		}
	}
}