.content {
	display: flex;
	background-color: $white2;
	//height: calc(100vh - 102px);
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		height: auto;
	}
	&-box {
		padding: 40px 60px 0 65px;
		background-color: $white;
		@media screen and (max-width: 1400px) {
			padding: 40px 20px 80px 20px;
		}
		@media screen and (max-width: 768px) {
			padding: 40px 15px 60px 15px;
		}
		&#tabs {
			width: 550px;
			@media screen and (max-width: 1400px) {
				width: 100%;
			}
		}
		&-nav {
			display: flex;
			justify-content: space-between;
			margin-bottom: 60px;
			@media screen and (max-width: 580px) {
				margin-bottom: 25px;
			}
			& .f18-l32 {
				@media screen and (max-width: 580px) {
					font-size: 12px;
					line-height: 16px;
				}
			}
			& .tab-n {
				opacity: 0.5;
				border-bottom: 1px solid $purple;
				&.active {
					opacity: 1;
					border-bottom: 1px solid transparent;
				}
			}
		}
		&-title {
			margin-bottom: 30px;
		}
		& .content-t {
			display: none;
			&.active {
				display: block;
			}
		}
		&-form {
			& .form-list {
				margin-bottom: 30px;
				&-item {
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
					& label {
						margin-bottom: 8px;
						display: block;
					}
				}
			}
			& .form-btn {
				padding: 60px 0;
				border-top: 1px solid $purple;
				margin-top: 40px;
				@media screen and (max-width: 580px) {
					padding: 50px 0;
					margin-top: 30px;
				}
			}
		}
		&.password {
			width: auto;
			background-color: $white2;
		}
		&-text {
			margin-bottom: 40px;
			@media screen and (max-width: 580px) {
				margin-bottom: 25px;
			}
		}
		&-wrapper {
			display: flex;
			flex-wrap: wrap-reverse;
			grid-gap: 30px;
			//width: 755px;
			justify-content: space-between;
			& .box-text {
				width: 300px;
				& ul {
					margin-top: 7px;
					padding-left: 30px;
				}
			}
		}
	}
}
.content-box + .content-box {
	padding: 132px 80px 0 80px;
	@media screen and (max-width: 1400px) {
		padding: 132px 20px 80px 20px;
		width: 100%;
	}
	@media screen and (max-width: 1024px) {
		padding: 40px 20px 80px 20px;
	}
	@media screen and (max-width: 580px) {
		padding: 40px 15px 108px 15px;
	}
	& .content-box-title {
		margin-bottom: 10px;
	}
	& .content-box-form {
		width: 400px;
		@media screen and (max-width: 1400px) {
			width: 100%;
		}
	}
}