.company {
	background-color: $white;
	width: 100%;
	padding: 40px 65px;
	@media screen and (max-width: 1540px) {
		padding: 35px 25px;
	}
	@media screen and (max-width: 1024px) {
		padding: 45px 40px;
	}
	@media screen and (max-width: 768px) {
		padding: 35px 20px;
	}
	@media screen and (max-width: 580px) {
		padding: 25px 15px;
	}
	
	&-wrapper {
		display: flex;
		align-items: center;
		max-width: 750px;
		width: 100%;
		margin-bottom: 80px;
		grid-gap: 40px;
		flex-wrap: wrap;
		@media screen and (max-width: 580px) {
			margin-bottom: 40px;
		}
		
		& .tab-wrapper {
			justify-content: space-between;
			max-width: 440px;
			width: 100%;
		}
		
		& .link-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 270px;
			width: 100%;
		}
	}
	
	&-search {
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		grid-gap: 20px;
		flex-wrap: wrap;
		
		&-form {
			border-bottom: 1px solid $purple;
			display: flex;
			align-items: center;
			
			& button:hover i:before {
				transform: scale(1.1);
			}
			
			&.w310 {
				@media screen and (max-width: 425px) {
					width: 100%;
				}
			}
		}
		
		&-text {
			display: flex;
			align-items: center;
			grid-gap: 12px;
			width: 265px;
			padding: 8px;
			background-color: $white2;
			@media screen and (max-width: 425px) {
				width: 100%;
			}
		}
		
		&-link {
			& i:before {
				width: 31px;
				height: 31px;
			}
			
			&:hover i:before {
				transform: scale(1.1);
			}
		}
	}
	
	&-philter {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		grid-gap: 80px;
		@media screen and (max-width: 768px) {
			grid-gap: 20px;
		}
		
		&-select {
			width: 190px;
			@media screen and (max-width: 425px) {
				width: 100%;
			}
			
			& .select2-container {
				width: 100% !important;
			}
		}
		
		&-btn {
			background-color: $white2;
			padding: 8px;
			display: flex;
			align-items: center;
			grid-gap: 8px;
			border: none;
			font-family: $WS-r;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #573CDA;
			
			&:hover i:before {
				transform: scale(1.1);
			}
		}
	}
	
	&-list {
		margin-top: 40px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		grid-gap: 40px;
		@media screen and (max-width: 1540px) {
			grid-gap: 25px;
		}
		@media screen and (max-width: 768px) {
			grid-gap: 10px;
			justify-content: space-between;
		}
	}
	
	&-item {
		background-color: $white;
		border: 1px solid $purple4;
		width: 21.526%;
		padding: 50px;
		position: relative;
		@media screen and (max-width: 1680px) {
			padding: 20px;
		}
		@media screen and (max-width: 1540px) {
			width: 30%;
			
		}
		@media screen and (max-width: 1400px) {
		}
		@media screen and (max-width: 1280px) {
			padding: 20px;
		}
		@media screen and (max-width: 1180px) {
			width: 48%;
			padding: 40px;
		}
		@media screen and (max-width: 1024px) {
			width: 48.18%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@media screen and (max-width: 540px) {
			width: 100%;
			padding: 40px 40px 20px 40px;
		}
		
		&-link {
			@media screen and (max-width: 1024px) {
				display: flex;
				justify-content: center;
			}
		}
		
		&-img {
			max-height: 118px;
			min-height: 118px;
			object-fit: contain;
		}
		
		&-company {
			display: block;
			margin-top: 20px;
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}
		
		&-tech {
			margin: 6px 0 20px;
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}
		
		&-val {
			margin-bottom: 6px;
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}
		
		&-numb {
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
		}
		
		&-form {
			margin-top: 40px;
			
		}
		
		&-add-watch {
			padding-bottom: 10px;
			display: none;
			position: relative;
			
			&:hover {
				& .company-item-drop {
					display: flex;
				}
			}
			
			&.active {
				display: block;
			}
		}
		
		&-watch {
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			& button:hover i:before {
				transform: scale(1.1);
			}
		}
		
		&-drop {
			position: absolute;
			top: 59px;
			left: 0;
			z-index: 10;
			box-shadow: $box-shadow3;
			background-color: $white2;
			padding: 5px;
			width: 100%;
			display: none;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-between;
			@media screen and (max-width: 1024px) {
				display: flex;
				position: relative;
				top: 0;
				left: 0;
				z-index: 10;
				box-shadow: none;
				background-color: transparent;
			}
			
			& p {
				margin-bottom: 5px;
			}
		}
	}
}

#tabs .company-list.content-t.active {
	display: flex;
}