.orders-wrapper {
	padding: 50px 100px 50px 65px;
	width: 100%;
	background-color: $white;
	@media screen and (max-width: 1540px) {
		padding: 35px 100px 35px 25px;
	}
	@media screen and (max-width: 1024px) {
		padding: 45px 40px 35px 40px;
	}
	@media screen and (max-width: 768px) {
		padding: 35px 25px;
	}
	@media screen and (max-width: 580px) {
		padding: 25px 15px 25px 15px;
	}
	& .orders-search {
		margin-bottom: 30px;
		&-form {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #573cda;
			&.w310 {
				@media screen and (max-width: 425px) {
					width: 100%;
				}
			}
		}
	}
	
	& .orders-philter {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		grid-gap: 80px;
		@media screen and (max-width: 1085px) {
			grid-gap: 20px;
		}
		
		&-select {
			width: 190px;
			@media screen and (max-width: 425px) {
				width: 100%;
			}
			
			& .select2-container {
				width: 100% !important;
			}
		}
		
		&-btn {
			background-color: $white2;
			padding: 8px;
			display: flex;
			align-items: center;
			grid-gap: 8px;
			border: none;
			font-family: $WS-r;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #573CDA;
			
			&:hover i:before {
				transform: scale(1.1);
			}
		}
	}
	& .table-wrapper {
		margin: 40px 0;
		overflow: hidden;
		overflow-x: auto;
		&::-webkit-scrollbar {
			background: $white2;
			border-radius: 8px;
			width: 7px;
			height: 8px;
			
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(192, 188, 214, 0.6);
			border-radius: 6px;
			height: 8px;
		}
	}
}