.sidebar {
	background-color: $white2;
	box-shadow: $box-shadow4;
	width: 350px;
	height: calc(100vh - 102px);
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 10;
	@media screen and (max-width: 1024px) {
		position: absolute;
		display: none;
	}
	@media screen and (max-width: 1024px) {
		display: none;
		height: calc(100vh - 120px);
		width: 100vw;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		background-color: $purple3;
	}
	&.active {
		display: flex;
	}
	&-nav {
		padding: 50px 20px 0 65px;
		flex-grow: 1;
		@media screen and (max-width: 1400px) {
			padding: 50px 20px 0 20px;
		}
		@media screen and (max-width: 1024px) {
			padding: 50px 20px 50px 20px;
			flex-grow: 0;
		}
		&-item {
			margin-bottom: 35px;
			&:last-child {
				margin-bottom: 0;
			}
			& .nav-link {
				display: flex;
				align-items: center;
				grid-gap: 20px;
				@media screen and (max-width: 1400px) {
					grid-gap: 10px;
				}
				& .icon:nth-child(1) {
					display: block;
					@media screen and (max-width: 1024px) {
						display: none;
					}
				}
				& .icon:nth-child(2) {
					display: none;
				}
				& .icon:nth-child(3) {
					display: none;
					@media screen and (max-width: 1024px) {
						display: block;
					}
				}
				& span {
					@media screen and (max-width: 1024px) {
						color: $white;
					}
				}
				&:hover {
					& .icon:nth-child(1) {
						display: none;
					}
					& .icon:nth-child(2) {
						display: block;
					}
					& .icon:nth-child(3) {
						display: none;
					}
					& span {
						color: $green;
					}
				}
				&.active {
					& .icon:nth-child(1) {
						display: none;
					}
					& .icon:nth-child(2) {
						display: block;
					}
					& .icon:nth-child(3) {
						display: none;
					}
					& span {
						color: $green;
					}
				}
			}
		}
	}
	&-btn {
		padding: 15px 105px 15px 65px;
		
		background-color: $purple;
		@media screen and (max-width: 1400px) {
			padding: 15px 50px 15px 20px;
		}
		@media screen and (max-width: 1024px) {
			background-color: $purple3;
		}
		& button {
			display: flex;
			align-items: center;
			text-align: left;
			& i {
				flex: 0 0 55px;
			}
		}
	}
	&-list {
		padding: 15px 0 15px 70px;
		background-color: $purple3;
		@media screen and (max-width: 1400px) {
			padding: 15px 0 15px 20px;
		}
		&-item {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			& .item-link {
			
			}
		}
	}
}