.table {
	width: 100%;
	min-width: 1380px;
}

.table-head {
	& .head-row {
		&-item {
			text-align: left;
			border-left: 1px solid $white;
			border-right: 1px solid $white;
			border-top: 4px solid white;
			border-bottom: 4px solid white;
			vertical-align: middle;
			
			&:first-child div {
				border-radius: 6px 0 0 6px;
				text-align: right;
			}
			
			&:last-child div {
				border-radius: 0 6px 6px 0;
			}
			
			& div {
				padding: 8px 12px;
				height: 40px;
				font-family: $WS-sb;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				color: $white;
				background-color: $purple3;
			}
		}
	}
}

.table-body {
	& .body-row {
		&-item {
			border-top: 4px solid white;
			border-bottom: 4px solid white;
			vertical-align: middle;
			
			&:first-child div {
				border-radius: 6px 0 0 6px;
				text-align: right;
			}
			
			&:last-child div {
				border-radius: 0 6px 6px 0;
			}
			
			& .reset-btn {
				width: 24px;
				height: 24px;
				
				& .tree-dots {
					display: block;
				}
			}
			
			&.center div {
				display: flex;
				justify-content: center;
			}
			
			&.center div button {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			& > div {
				height: 32px;
				text-align: left;
				vertical-align: middle;
				padding: 4px 12px;
				font-family: $WS-r;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: $purple3;
				background-color: #C6F7CE;
				
			}
		}
		
		&.ask {
			& div {
				background-color: #F8D2D2;
			}
		}
		
		&.new {
			& div {
				background-color: #C0BCD699;
			}
		}
		
		&.history {
			& div {
				background-color: #C6F6CE99;
			}
		}
	}
}

.table-two {
	width: 100%;
	min-width: 1380px;
	
	.table-head {
		& .head-row {
			&-item {
				text-align: left;
				border-left: 1px solid $white;
				border-right: 1px solid $white;
				border-top: 4px solid white;
				border-bottom: 4px solid white;
				vertical-align: middle;
				
				&:first-child div {
					border-radius: 6px 0 0 6px;
					text-align: right;
				}
				
				&:last-child div {
					border-radius: 0 6px 6px 0;
				}
				
				& div {
					padding: 8px 12px;
					height: 40px;
					font-family: $WS-sb;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					color: $white;
					background-color: $purple3;
				}
			}
		}
	}
	
	.table-body2 {
		& .body-row {
			&-item {
				&:first-child > div {
					padding-left: 0;
					text-align: right;
					
				}
				
				&:last-child > div {
					
					&.arrow-icon-purple {
						cursor: pointer;
						&:hover {
							&:before {
								transform: rotate(-45deg) scale(1.4);
							}
						}
					}
					
				}
				
				& > div {
					height: 32px;
					text-align: left;
					vertical-align: middle;
					padding: 4px 12px;
					font-family: $WS-r;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					color: $purple3;
				}
				
				&:first-child > ul {
					padding-left: 70px;
				}
				&:first-child > ul li div {
					padding: 4px 0;
				}
			}
			
			&.active td {
				background: #F6F4FF;
				
				&:first-child {
					border-radius: 6px 0 0 0;
				}
				
				&:last-child {
					border-radius: 0 6px 0 0;
					&:hover {
						& .arrow-icon-purple {
							&:before {
								transform: rotate(135deg) scale(1.4);
							}
						}
					}
					& .arrow-icon-purple {
						&:before {
							transform: rotate(135deg);
							
						}
					}
				}
			}
			
			&.active + tr td {
				background: #F6F4FF;
				
				&:first-child {
					border-radius: 0 0 0 6px;
				}
				
				&:last-child {
					border-radius: 0 0 6px 0;
				}
			}
			
			&.active + tr td {
				background: #F6F4FF;
				
				&:first-child {
					border-radius: 0 0 0 6px;
				}
				
				&:last-child {
					border-radius: 0 0 6px 0;
				}
			}
			
			&.active + .body-row-info {
				display: table-row;
			}
			
			&-info {
				display: none;
			}
		}
	}
}

.list-t {
	border-top: 1px solid #573CDA;
	
	&-item {
		margin-bottom: 25px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		& div {
			padding: 4px 12px;
			font-family: $WS-r;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
		}
		
		& .designation-name {
			color: #515994;
		}
		
		& .designation-meanings {
			color: #2A206A;
		}
	}
}